//- /**
//-  * Generate random dummy text.
//-  *
//-  * @param {string} type Choose what you want to display, words, sentences
//-  *                      or paragraphs. Default : paragraphs.
//-  * @param {number} n Number of words, sentences or paragraphs to display.
//-  *                   Default: 1.
//-  *
//-  * Exemple :
//-  * h1: +lorem('words', 15)
//-  */
mixin lorem(type, n)
  //- Default numbers of type
  - n = n || 1
  //- Default paragraph and sentences. For now you, only dots are used to delimit sentences.
  - var paragraph = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  // Default words list
  - var words = paragraph.split(' ');

  - var first = 0;
  - var last = n;
  - var out = [];
  
  case type

    when 'sentences'
      - var sentences = paragraph.split(/[\.\?\!][\s]/g);
      //- Add each sentence in an array until n.
      while first <= last
        each sentence, index in sentences
          - first++;
          if first <= last
            - out.push(sentence.replace('.', '') + '. ').toString();
      - var lorem = out.join(' ');

    when 'words'
      //- Add each word in an array until n.
      while first <= last
        each word, index in words
          - first++;
          if first <= last
            - out.push(word).toString();
      //- Remove last word from array.
      - var loremStart = out.slice(0,-1).join(' ');
      //- Strip all punctuations on the last word.
      - var loremLast = out.slice(-1).join(' ').replace(/[.,-\/#!$%\^&\*;:{}=\-_`~()]/g,'');
      //- Merge and add a final dot on the last word.
      - var lorem = loremStart + ' ' + loremLast + '.';

    when 'paragraphs'
      while first <= last
        - out.push(paragraph);
        - first ++
      - var lorem = out.join(' ');
    
    //- When no type is defined
    default
      - var lorem = paragraph;
  
  if block
    block
    | #{lorem}
  else
    | #{lorem}
