<!DOCTYPE html>
<html lang="" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/app.css">
  </head>
  <body>
    <h1>Template test</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nisi vero necessitatibus cumque eum, enim. Minima quisquam eaque nesciunt, esse, aut accusamus ut cumque ipsam reprehenderit tempore et modi ipsum.</p>
    <h2>Lorem ipsum</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dolor, quia voluptates quidem dicta pariatur ipsum omnis aliquid nostrum accusamus hic totam sit reiciendis qui doloremque deleniti, praesentium culpa laudantium!</p>
  </body>
</html>