extends _layout

append content
  h1 Template test
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nisi vero necessitatibus cumque eum, enim. Minima quisquam eaque nesciunt, esse, aut accusamus ut cumque ipsam reprehenderit tempore et modi ipsum.
  h2 Lorem ipsum
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dolor, quia voluptates quidem dicta pariatur ipsum omnis aliquid nostrum accusamus hic totam sit reiciendis qui doloremque deleniti, praesentium culpa laudantium!

